.landing-header{
    width: 100%;
    height: 100%;
    background-color: var(--color-primary-lighter);
}

.landing-header .top-bar-container{
    width: 90%;
    height: 10%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-text-in-secondary);
    padding: 0.2rem 0;
}

.landing-header .top-bar-container a{
    height: 3.2rem;
    transition: opacity 0.2s;
}

.landing-header .top-bar-container a:hover{
    opacity: 0.6;
}

.landing-header .top-bar-container > img{
    height: 1.6rem;    
}

.landing-header .header-content{
    width: 90%;
    margin: 0 auto;
    position: relative;
    margin: 3.2rem auto;
}

.landing-header .header-content strong{
    font: 700 3.6rem Archivo;
    line-height: 4.2rem;
    color: var(--color-title-in-primary);
}

.landing-header .header-content p{
    max-width: 30rem;
    font-size: 1.6rem;
    line-height: 3.6rem;
    color: var(--color-text-in-primary);
    margin-top: 2.4rem;
}

@media (min-width: 700px){
    .landing-header{
        height: 340px;
    }

    .landing-header .top-bar-container{
        max-width: 1100px;
    }

    .landing-header .header-content{
        flex: 1;
        max-width: 740px;
        margin: 0 auto;
        padding-bottom: 48px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .landing-header .header-content strong{
        max-width: 350px;
    }
}